In [77]:
import pandas as pd
df = pd.read_csv("weather_data.csv", parse_dates=["day"])
df.set_index('day', inplace=True)

In [78]:
df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02          NaN        7.0  Sunny
2017-01-04          NaN        7.0    NaN
2017-01-05          NaN        NaN    NaN
2017-01-06         31.0        2.0  Sunny
2017-01-07         34.0        5.0    NaN

In [79]:
new_df = df.fillna(0)
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02          0.0        7.0  Sunny
2017-01-04          0.0        7.0      0
2017-01-05          0.0        0.0      0
2017-01-06         31.0        2.0  Sunny
2017-01-07         34.0        5.0      0

In [80]:
new_df = df.fillna({
    'temperature': 0,
    'windspeed': 0,
    'event': 'no event'
})
new_df

            temperature  windspeed     event
day
2017-01-01         32.0        6.0      Rain
2017-01-02          0.0        7.0     Sunny
2017-01-04          0.0        7.0  no event
2017-01-05          0.0        0.0  no event
2017-01-06         31.0        2.0     Sunny
2017-01-07         34.0        5.0  no event

In [81]:
new_df = df.fillna(method="ffill")
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02         32.0        7.0  Sunny
2017-01-04         32.0        7.0  Sunny
2017-01-05         32.0        7.0  Sunny
2017-01-06         31.0        2.0  Sunny
2017-01-07         34.0        5.0  Sunny

In [82]:
new_df = df.fillna(method="bfill")
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02         31.0        7.0  Sunny
2017-01-04         31.0        7.0  Sunny
2017-01-05         31.0        2.0  Sunny
2017-01-06         31.0        2.0  Sunny
2017-01-07         34.0        5.0    NaN

In [83]:
new_df = df.fillna(method="bfill", axis="columns")
new_df

           temperature windspeed  event
day
2017-01-01          32         6   Rain
2017-01-02           7         7  Sunny
2017-01-04           7         7    NaN
2017-01-05         NaN       NaN    NaN
2017-01-06          31         2  Sunny
2017-01-07          34         5    NaN

In [84]:
new_df = df.fillna(method="ffill", limit=1)
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02         32.0        7.0  Sunny
2017-01-04          NaN        7.0  Sunny
2017-01-05          NaN        7.0    NaN
2017-01-06         31.0        2.0  Sunny
2017-01-07         34.0        5.0  Sunny

In [85]:
new_df = df.interpolate()
new_df

            temperature  windspeed  event
day
2017-01-01        32.00        6.0   Rain
2017-01-02        31.75        7.0  Sunny
2017-01-04        31.50        7.0    NaN
2017-01-05        31.25        4.5    NaN
2017-01-06        31.00        2.0  Sunny
2017-01-07        34.00        5.0    NaN

In [86]:
new_df = df.interpolate(method="time")
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02         31.8        7.0  Sunny
2017-01-04         31.4        7.0    NaN
2017-01-05         31.2        4.5    NaN
2017-01-06         31.0        2.0  Sunny
2017-01-07         34.0        5.0    NaN

In [87]:
new_df = df.dropna()

In [88]:
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-06         31.0        2.0  Sunny

In [89]:
new_df = df.dropna(how="all")
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02          NaN        7.0  Sunny
2017-01-04          NaN        7.0    NaN
2017-01-06         31.0        2.0  Sunny
2017-01-07         34.0        5.0    NaN

In [90]:
new_df = df.dropna(thresh=2)  # threshold ignores index
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02          NaN        7.0  Sunny
2017-01-06         31.0        2.0  Sunny
2017-01-07         34.0        5.0    NaN

In [100]:
dt = pd.date_range("01-01-2017", "01-07-2017")
dt

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07'],
              dtype='datetime64[ns]', freq='D')

In [101]:
df.reindex(dt)

            temperature  windspeed  event
2017-01-01         32.0        6.0   Rain
2017-01-02          NaN        7.0  Sunny
2017-01-03          NaN        NaN    NaN
2017-01-04          NaN        7.0    NaN
2017-01-05          NaN        NaN    NaN
2017-01-06         31.0        2.0  Sunny
2017-01-07         34.0        5.0    NaN